<launch>

<rosparam file="$(find mirabb_description)/launch/controller.yaml" command="load"/>
<!-- <rosparam file="$(find mirabb_description)/config/joint_trajectory_controller.yaml" command="load"/> -->
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="mirabb" args="joint_Base_LeftWheel_position_controller joint_Base_RightWheel_position_controller joint_Base_rear_right_caster_position_controller joint_Base_rear_left_caster_position_controller joint_Base_front_right_caster_position_controller joint_Base_front_left_caster_position_controller joint_link0_link1_position_controller joint_link1_link2_position_controller joint_link2_link3_position_controller joint_link3_link4_position_controller joint_link4_link5_position_controller joint_link5_link6_position_controller joint_frame_Lpad_position_controller joint_Lpad_lifter_position_controller joint_frame_Slifter_position_controller joint_Slifter_Spad_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/mirabb/joint_states"/>
</node>

</launch>