<launch>
	<!-- Launch Your robot arms launch file which loads the robot in Gazebo and spawns the controllers -->
	<include file="$(find mirabb_description)/launch/gazebo.launch" />
    <include file="$(find mirabb_description)/launch/controller.launch" />

	<!-- Launch Moveit Move Group Node -->
	<include file = "$(find mirabb_moveit_config)/launch/move_group.launch" />

	<!-- Run Rviz and load the default configuration to see the state of the move_group node -->
    <include file="$(find mirabb_description)/launch/display.launch" />

</launch>